.top-nav {
    color          : white;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding-left   : calc(55/1440 * 100%);
    margin-top     : 2.5em;
}

.logo {
    width : 3em;
    height: 3em;
}

.nav-links {
    font-family    : 'Barlow Condensed', sans-serif;
    font-size      : 1rem;
    background     : rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
    display        : flex;
    width          : calc((830/1440) * 100% - 123rem / 16);
    height         : 6em;
    align-items    : center;
    justify-content: space-around;
    padding-left: calc(123rem / 16);
}

.bold {
    font-weight: 700;
}

.add-right-margin {
    margin-right: 11px;
}

.nav-hr {
    height    : calc(1rem / 16);
    width     : calc(473rem / 16);
    background: #ffffff;
    opacity   : 0.25;
    border: none;
}